

.navbar{
  background-image: url('../public/bgimage.jpg');
object-fit: cover;
}
.main-heading{
  background: #2B2B2B;
  color: white;
  display: grid;
  place-content: center;

}
.h22{
  font-family: 'Roboto';
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
width: 500px;
height: 28px;
margin-left: 500px;

color: #333333;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  
}
.key{ 
  margin: 0px;
  text-align: center;
  font-family: Roboto;
font-size: 24px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0em;
color: rgba(255, 255, 255, 1);
background: rgba(43, 43, 43, 1);
}
.grid-item {
  background: rgba(43, 43, 43, 1);

  color: white;
  border: 1px ;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

}

.diva{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 660px;
width: 1280px;
left: -640px;
top: 87px;
border-radius: 0px;
background: #FFFFFF;
margin: 2px;
padding: 10px;
gap: 80px;
}
.p{
  margin: 15px;
  padding: 10px;
  margin-top: 40px;
}
.div{
  height: 402px;
width: 306px;
left: -528px;
top: 212px;
border-radius: 15px;
background: linear-gradient(179.22deg, rgba(71, 181, 156, 0.5) 23.74%, rgba(57, 99, 171, 0.5) 134.1%),
linear-gradient(0deg, rgba(71, 181, 158, 0.2), rgba(71, 181, 158, 0.2));
border: 1px solid;
padding: 20px;
border-image-source: linear-gradient(179.22deg, rgba(71, 181, 156, 0.5) 23.74%, rgba(57, 99, 171, 0.5) 134.1%);

}
.icons{
  display: flex;
  flex-direction: row;
  height: 49.999996185302734px;
width: 32.5px;
left: 7.5px;
top: 5px;
border-radius: 2px;
gap: 5rem;

}
.checkbox{
  font-family: Roboto;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: white;

}
.login{
  background: linear-gradient(180deg, rgba(70, 177, 157, 0.5) 0%, rgba(71, 179, 156, 0.5) 100%);
 color:white ;
 border-radius: 50px;
border: none;
 margin-left:1200px;
 height: 39px;
width: 107px;
left: 432px;
top: -1296px;
border-radius: 50px;


}
.heading{
 display: grid;
 place-content:center ;
  color: white;

}
.boxes{
  row-gap: 2px;
}
.box{
  border-radius: 50px;
  
  
}
.search{
  display: flex;
left: -384px;
top: -1063px;
border-radius: 50px;
}
.search-text{
  height: 62px;
width: 450px;
left: -324px;
top: -1063px;
border-radius: 50px;

}
.fa-solid{
  background: linear-gradient(181.67deg, #47B59C 1.42%, #3963AB 318.41%);
display: grid;
place-content:center ;
  height: 55px;
margin-left:-60px;
width: 55px;
left: 266px;
top: -1059px;
border-radius: 50px;
  
}

  
